<div class="container">


<form role="form" (ngSubmit)="submitForm()" [class.was-validated]="submitted">
    <h6 class="form-heading">Identity</h6>
    <div class="form-group">
      <label class="form-label" for="txtFirstName">First name</label>
      <input class="form-control" id="txtFirstName" type="text" placeholder="Type your first name" required />
    </div>
    <div class="form-group-spacer">
      <label class="form-label" for="txtLastName">Last name</label>
      <input class="form-control" id="txtLastName" type="text" placeholder="Type your surname" required />
    </div>
    <h6 class="form-heading">Contract</h6>
    <div class="form-group">
      <label class="form-label" for="typeOfContracts">Type contract</label>
      <ng-select
        labelForId="typeOfContracts"
        name="typeOfContracts"
        placeholder="Select type of contract"
        [(ngModel)]="selectedContract"
        
        bindValue="id"
        bindLabel="name"
      >
      </ng-select>
    </div>
    <div class="form-group">
      <label class="form-label" for="dateStartDate">Start date</label>
      <div class="input-group" style="width: 275px">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="fromDate"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <button class="btn" (click)="d.toggle()" type="button" id="dateStartDate">
          <i class="icons8-o-calendar"></i>
        </button>
      </div>
    </div>
    <div class="form-group-spacer">
      <label class="form-label" for="chkWorkRegime">Work regime</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="chkWorkRegime" id="workFulltime" checked />
        <label class="form-check-label" for="workFulltime">Full-time</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="chkWorkRegime" id="workParttime" />
        <label class="form-check-label" for="workParttime">Part-time</label>
      </div>
    </div>
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="reset" class="btn btn-secondary">Cancel</button>
    </div>
</form>
