<div class="page-wrapper chiller-theme" [ngClass]="{'toggled': !isNavbarHidden}">
  <!-- when the navbar closes -->
  <a id="show-sidebar" class="btn btn-sm btn-dark">
      <i class="bi bi-chevron-double-right" style="color: red; width: 20vw;"></i>
  </a>

  <nav id="sidebar" class="sidebar-wrapper" *ngIf="!isNavbarHidden">
      <div class="sidebar-content">
          <div class="sidebar-brand">
              <a href="/navbar">Event Management System</a>
              <div id="close-sidebar">
                  <i class="bi bi-chevron-double-left"></i>
              </div>
          </div>
          <div class="sidebar-header">
              <div class="user-pic">
                  <img class="rounded-circle" src="assets/images/only.jpg" alt="User picture"
                      style="width: 55px; height: 55px;">
              </div>
              <div class="user-info">
                  <span class="user-name">Milesh
                      <strong>Taukoorah</strong>
                  </span>
                  <span class="user-role">Administrator</span>
                  <span class="user-status">
                      <i class="bi bi-person-circle"></i>
                      <span>Online</span>
                  </span>
              </div>
          </div>
          <!-- sidebar-header -->
         
          <!-- sidebar-search -->
          <div class="sidebar-menu">
              <ul>
                  <li class="header-menu">
                      <span>General</span>
                  </li>

                  <li class="sidebar-dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                      <a [routerLink]="['/dashboard']">
                          <i class="bi bi-person-fill px-2 py-2"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>

                  <!-- Repeat the above structure for other links in your navbar -->
                  <li class="sidebar-dropdown" routerLinkActive="active">
                      <a [routerLink]="['/analytics']">
                          <i class="bi bi-bar-chart-fill px-2 py-2"></i>
                          <span>Analytics</span>
                      </a>
                  </li>

                  <li class="sidebar-dropdown" routerLinkActive="active">
                    <a [routerLink]="['/finance']">
                        <i class="bi bi-bag-fill px-2 py-2"></i>
                            <span>Financial Overview</span>

                    </a>
                </li>

                  <!-- Example for "events" -->
                  <li class="sidebar-dropdown" routerLinkActive="active">
                      <a [routerLink]="['/events']">
                          <i class="bi bi-table px-2 py-2"></i>
                          <span>Events</span>
                      </a>
                  </li>

                  <li class="header-menu">
                      <span>Extra</span>
                  </li>
                  <li class="sidebar-dropdown" routerLinkActive="active">
                      <a [routerLink]="['/group-leaders']">
                          <i class="bi bi-people py-2 px-2"></i>
                          <span>Group Leaders</span>
                      </a>
                  </li>

                  <li class="sidebar-dropdown" routerLinkActive="active">
                      <a [routerLink]="['/team-leaders']">
                          <i class="bi bi-person-vcard-fill px-2 py-2"></i>
                          <span>Team Leaders</span>
                      </a>
                  </li>

                  <li class="sidebar-dropdown" routerLinkActive="active">
                      <a [routerLink]="['/reports']">
                          <i class="fa fa-folder"></i>
                          <span>Generate Reports</span>
                      </a>
                  </li>

                  

                <li class="sidebar-dropdown" routerLinkActive="active">
                    <a [routerLink]="['/communication']">
                        <i class="bi bi-chat-square-fill px-2 py-2"></i>
                         <span>Communication Hub</span>

                    </a>
                </li>

              </ul>
          </div>
          <!-- sidebar-menu -->
      </div>
      <!-- sidebar-content -->
      <div class="sidebar-footer">
          <a [routerLink]="['/notification']" routerLinkActive="active">
              <i class="fa fa-bell"></i>
              <span class="badge bg-warning notification">3</span>
          </a>

          <a [routerLink]="['/settings']" routerLinkActive="active">
              <i class="fa fa-cog"></i>
          </a>

          <a [routerLink]="['/logout']" routerLinkActive="active">
              <i class="fa fa-power-off"></i>
          </a>
      </div>
  </nav>

  <div class="content-wrapper">
      <!-- Router outlet to display the routed components -->
      <router-outlet></router-outlet>
  </div>
</div>
