@import '~@fortawesome/fontawesome-free/css/all.css';


.container {
    margin-left: 20em;
    margin-top: 2em;
  }
  
  .btn-back-to-top {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    background-color: #f1916a; 
    right: 20px; /* Adjust as needed */
  }
  
  /* Styles for the chatbox */
  .chatbox {
    position: fixed;
    bottom: 70px; /* Adjust this value to fit your layout */
    right: 20px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:#870b58;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .chat-body {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .chat-suggestion {
    padding: 10px;
  }
  
  .suggestion-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #870b58;
  }
  
  .suggestions {
    padding-top: 10px;
  }
  
  .chat-message-entry {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .chat-message-entry input {
    flex: 1;
    margin-right: 10px;
  }
  
  /* Example styling for input and button */
  .chat-message-entry button {
    background-color: #870b58;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  /* You may need to adjust the styles based on your specific requirements */
  
