<p>sdnavbar works!</p>
<!-- <sdwds-sidenav
  [collapsed]="collapsed"
  [showToggle]="showToggle"
  [responsive]="responsive"
  [hideSubtitles]="hideSubtitles"
>
  <sdwds-sidenav-item type="header" label="Header"></sdwds-sidenav-item>
  <sdwds-sidenav-item label="item without icon" link="#"></sdwds-sidenav-item>
  <sdwds-sidenav-item label="item with icon" link="#" icon="icons8-o-rocket"> </sdwds-sidenav-item>
  <sdwds-sidenav-item label="current item" link="./" icon="icons8-o-new"></sdwds-sidenav-item>
  <sdwds-sidenav-item type="line"></sdwds-sidenav-item>
  <sdwds-sidenav-item label="item with childs" icon="icons8-o-tiles">
    <sdwds-sidenav-item label="another item" link="#"></sdwds-sidenav-item>
  </sdwds-sidenav-item>
  <sdwds-sidenav-item bottom label="item at bottom" link="#" icon="icons8-o-settings"> </sdwds-sidenav-item>
</sdwds-sidenav> -->