<!-- communication.component.html -->
<!-- app.component.html or the relevant parent component -->
<!-- navbar.component.html or wherever the link is -->
<a routerLink="/communication">Communication</a>

<!-- app.component.html or the relevant parent component -->
<router-outlet></router-outlet>


<div class="chat-box">
  
  <div *ngFor="let message of messages" class="message {{ message.isAi ? 'ai' : 'user' }}">
    {{ message.text }}
  </div>
  <div class="user-input">
    <input [(ngModel)]="userInput" placeholder="Type your issue..." />
    <button (click)="sendMessage()">Send</button>
  </div>
</div>
