<div class="finance-container">
  <div class="chart-container">
    <canvas id="budgetAllocationChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="expensesOverTimeChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="revenueSourcesChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="profitLossChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="cashFlowChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="sponsorshipContributionChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="miscellaneousExpensesChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="trendAnalysisChart"></canvas>
  </div>
</div>
