<div class="container">
  <img src="../../../assets/images/spark/03.png" alt="Your Image" style="position: fixed; top: 10px; right: 10px; width: 90px; height: auto;">

<div class="finance-container">
  <div class="chart-container">
    <canvas id="budgetAllocationChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="expensesOverTimeChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="revenueSourcesChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="profitLossChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="cashFlowChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="sponsorshipContributionChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="miscellaneousExpensesChart"></canvas>
  </div>
  <div class="chart-container">
    <canvas id="trendAnalysisChart"></canvas>
  </div>
</div>
</div>
