// finance.component.scss

.container {
  margin-left: 18em;
}

.finance-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.chart-container {
  width: calc(45% - 20px);
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }
}
